header{
	background: #C0C0C0;
	
}
h1{
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}
h2{
	color: #0000CD;
}
section{
	background: #778899;
}
a{
	background:#D3D3D3;
	color: #000000;
}
img{
	display: none;
}
