body{
  margin:10px;
  padding:5px;
}
header{
  background: #C0C0C0;
  background-image:url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
  background-image: url('../image/flywheel.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  padding:30px;
}
h1{
  text-align:center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size:200%;
  margin-top:10px;
  margin-bottom:2px;
}

nav a{
  color: black;
  box-sizing: border-box;
  display:inline-block;
  background-color: rgb(0,0,0,0.15);
  width:20%;
  margin: 25px;
  padding: 25px;
  text-align: center;
  font-size: 125%;
  text-decoration:none;
  border-radius:12px;
  font-style: bold;
}
nav a:active{
  background-color:#ffffff;
  color: #0000ff;
}
img{
  display:block;
  width:225px;
  height:150px;
  box-sizing:border-box;
  margin:0 auto;
  margin-top:45px;
  margin-bottom:50px;
  border:3px solid #000000;
}
.left{
  display:inline-block;
  background-color:#ffcc00;
  width: 20%;
  float: left;
}
.right{
  display:inline-block;
  width:79.6%;
  float: right;
  font-size:160%;
}